.userBox {
  display: flex;
  align-items: center;
  max-width: 767px;
  height: 40px;
  padding: 0 15px;
  margin: 0 auto;
  background-color: #eff1f3;
}
.goBack {
  width: 12px;
  height: 7px;
  margin: 0;
}
.userInfo {
  display: flex;
  align-items: center;
  margin-left: auto;
}
.name {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #212121;
  margin-right: 15px;
}
.verticalLine {
  margin-right: 15px;
}
.logout {
  font-family: Gotham Pro;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #9b9faa;
}
@media screen and (min-width: 768px) {
  .userBox {
    padding: 0;
    margin-right: 50px;
    background-color: white;
  }
  .goBack {
    display: none;
  }
}
@media screen and (min-width: 1280px) {
  .userBox {
    max-height: 100%;
    margin-left: auto;
    margin-right: 115px;
    background-color: #f0f1f3;
  }
  .name {
    margin-right: 22px;
  }
  .verticalLine {
    margin-right: 22px;
  }
}
