.pageContainer {
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    display: inline-block;
    width: 100%;
    height: 1024px;
    padding: 0 69px;
    position: relative;
    background-image: url(../images/tablet-webP/banana-tablet-x1.webp),
      url(../images/tablet/Strawberry-Big-PNG.svg),
      url(../images/tablet/leaves-tablet-x1-min-login.png),
      url(../images/tablet-webP/greybcg-tablet-x1.webp);
    background-repeat: no-repeat;
    background-position: bottom right, top 433px right, bottom 279px left 12px,
      bottom right;
  }
}

@media screen and (min-width: 1280px) {
  .pageContainer {
    width: 100%;
    height: 850px;
    padding: 0 90px;
    background-image: url(../images/desktop/banana-desktop-x1-min-login.png),
      url(../images/desktop/strawberry-desktop-x1-min-login.svg),
      url(../images/desktop/Strawberry-Big-PNG.svg),
      url(../images/desktop/greybcg-desktop-login-x1.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom 19px right 250px, top 193px right,
      bottom right;
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .pageContainer {
    background-image: url(../images/tablet-webP/banana-tablet-x2.webp),
      url(../images/tablet/strawberry-tablet-x2-min.png),
      url(../images/tablet/leaves-tablet-x2-min-login.png),
      url(../images/tablet-webP/greybcg-tablet-x2.webp);
    background-repeat: no-repeat;
    background-position: bottom right, top 433px right, bottom 279px left 12px,
      bottom right;
  }
}

@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2) {
  .pageContainer {
    background-image: url(../images/desktop/banana-desktop-x2-min-login.png),
      url(../images/desktop/leaves-desktop-x2-min-login.png),
      url(../images/desktop/strawberry-desktop-x2-min-login.png),
      url(../images/desktop/greybcg-desktop-x2-min.png);
    background-repeat: no-repeat;
    background-position: bottom right, bottom 19px right 250px, top 193px right,
      bottom right;
  }
}
