.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

/* ?HOME */
@media screen and (min-width: 768px) {
  .container {
    display: inline-block;
    /* width: 768px;*/
    width: 100%;
    height: 1024px;
    padding: 0 87px;
    position: relative;
    background-image: url(../images/tablet-webP/banana-tablet-x1.webp),
      url(../images/tablet-webP/strawberry-tablet-x1.webp),
      url(../images/tablet-webP/leaves-tablet-x1.webp),
      url(../images/tablet-webP/greybcg-tablet-x1.webp);
    background-repeat: no-repeat;
    background-position: bottom right, top 503px right 96px, bottom left,
      bottom right;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    /* width: 1280px;*/
    width: 100%;
    height: 850px;
    padding: 0 115px;
    background-image: url(../images/desktop-webP/banana-desktop-x1.webp),
      url(../images/desktop-webP//leaves-desktop-x1.webp),
      url(../images/desktop-webP/strawberry-desktop-x1.webp),
      url(../images/desktop-webP/greybcg-desktop-x1.webp);
    background-repeat: no-repeat;
    background-position: top right, bottom 30px right 195px, bottom right 36px,
      bottom right;
  }
}

/* ?HOME-2x */
@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    display: inline-block;
    /* width: 768px;*/
    width: 100%;
    height: 1024px;
    padding: 0 87px;
    position: relative;
    background-image: url(../images/tablet-webP/banana-tablet-x2.webp),
      url(../images/tablet-webP/strawberry-tablet-x2.webp),
      url(../images/tablet-webP/leaves-tablet-x2.webp),
      url(../images/tablet-webP/greybcg-tablet-x2.webp);
    background-repeat: no-repeat;
    background-position: bottom right, top 503px right 96px, bottom left,
      bottom right;
  }
}

@media screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    /* width: 1280px;*/
    width: 100%;
    height: 850px;
    padding: 0 115px;
    background-image: url(../images/desktop-webP/banana-desktop-x2.webp),
      url(../images/desktop-webP//leaves-desktop-x2.webp),
      url(../images/desktop-webP/strawberry-desktop-x2.webp),
      url(../images/desktop-webP/greybcg-desktop-x2.webp);
    background-repeat: no-repeat;
    background-position: top right, bottom 30px right 195px, bottom right 36px,
      bottom right;
  }
}
