.pageContainer {
  padding: 30px 15px 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .pageContainer {
    display: inline-block;
    width: 100%;
    min-height: 944px;
    padding: 100px 0 0 87px;
    position: relative;
  }
  .bgContainer {
    background-image: url(../images/tablet-webP/banana-tablet-x1.webp),
      url(../images/tablet-webP/strawberry-tablet-x1.webp),
      url(../images/tablet-webP/leaves-tablet-x1.webp),
      url(../images/tablet-webP/greybcg-tablet-x1.webp);
    background-repeat: no-repeat;
    background-position: bottom right, top 553px right, bottom 20px left 30px,
      bottom right;
  }
}

@media screen and (min-width: 1280px) {
  .pageContainer {
    width: 100%;
    min-height: 695px;
    padding: 144px 0 0 115px;
  }
  .bgContainer {
    background-image: url(../images/desktop-webP/banana-desktop-x1.webp),
      url(../images/desktop-webP//leaves-desktop-x1.webp),
      url(../images/desktop-webP/strawberry-desktop-x1.webp),
      url(../images/desktop-webP/greybcg-desktop-x1.webp);
    background-repeat: no-repeat;
    background-position: top right, bottom 30px left 339px, bottom right,
      bottom right;
  }
}

@media screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .bgContainer {
    background-image: url(../images/tablet-webP/banana-tablet-x2.webp),
      url(../images/tablet-webP/strawberry-tablet-x2.webp),
      url(../images/tablet-webP/leaves-tablet-x2.webp),
      url(../images/tablet-webP/greybcg-tablet-x2.webp);
    background-repeat: no-repeat;
    background-position: bottom right, top 553px right, bottom 20px left 30px,
      bottom right;
  }
}

@media screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px) {
  .bgContainer {
    background-image: url(../images/desktop-webP/banana-desktop-x2.webp),
      url(../images/desktop-webP//leaves-desktop-x2.webp),
      url(../images/desktop-webP/strawberry-desktop-x2.webp),
      url(../images/desktop-webP/greybcg-desktop-x2.webp);
    background-repeat: no-repeat;
    background-position: top right, bottom 30px left 339px, bottom right,
      bottom right;
  }
}
