/* for mobile */
.title {
  margin-bottom: 40px;
  font-family: Verdana;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
  color: #212121;
}

.form {
  margin: 0 auto;
  width: 240px;
}

.input {
  margin-bottom: 40px;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #e0e0e0;
}

.label {
  margin-bottom:10px;
  padding: 0;
  font-family: Verdana;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.21;
  letter-spacing: 0.04em;
  color: #9b9faa;
}

.button {
  padding: 13px 0;
  margin: 0 auto;
  display: block;
  width: 176px;
  border: 2px solid #fc842d;
  border-radius: 30px;
  background-color: #ffffff;
  color: #fc842d;
  font-weight: 700;
  font-family: Verdana;
  font-size: 14px;
  line-height: 1.21;
  text-align: center;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: #fc842d;
  color: #ffffff;
  box-shadow: 0px 4px 10px rgba(252, 132, 45, 0.5);
}

.radioWrapper{
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

/* .radioLabel:not(:last-child){
padding-right: 28px;
} */