.notification {
  position: absolute;
  right: 100px;
  top: 15px;
  max-width: 220px;
  background-color: #8ff168;
  border-radius: 4px;
  color: rgb(19, 17, 17);
  font-weight: 500;
  padding: 10px;
}

.enter {
  opacity: 0;
  transform: translateX(-100%);
}
.enterActive {
  opacity: 1;
  transform: translateX(0);
  transition: all 250ms linear;
}
.exit {
  opacity: 1;
  transform: translateX(0);
}
.exitActive {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 250ms linear;
}
