body {
  margin: 0;
  font-family: 'Gotham Pro';
  font-weight: 700;
}

.container {
  width: 320px;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 87px;
  }
}
@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
    padding: 0 115px;
  }
}
