.calendar {
  color: rgba(33, 33, 33, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.22;
  font-family: Verdana, sans-serif;
  border: none;
  width: 138px;
  height: 20px;
  padding: 0;
}

.img {
  position: absolute;
  top: 0;
  right: 0;
  width: 18px;
  height: 20px;
}
.CalendarContainer {
  display: block;
  width: 155px;
  position: relative;
  margin-bottom: 31px;
}
.react-datepicker__month-container {
  height: 200px;
}
@media screen and (min-width: 768px) {
  .calendar {
    font-size: 34px;
    line-height: 1.215;
    width: 219px;
    height: 38px;
  }
  .CalendarContainer {
    width: 261px;
    margin-bottom: 60px;
  }
  .img {
    top: 13px;
  }
}
